<html>
  <head>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
      .img--outline {
        border: 1px dashed #CCC;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <div ng-controller='MainCtrl'>
        <h1>Test Charts</h1>
        <img class='img--outline' ng-src='{{ imgSrc }}' />
        <form>
          <!--<input ng-model='chart.options.title' class='form-control' />-->

          <!--<div ng-repeat='set in chart.dataTable[0] track by $index'>-->
            <!--<input ng-model='chart.dataTable[0][$index]' class='form-control' />-->
            <!--<input ng-model='chart.dataTable[1][$index]' type='number' class='form-control' />-->
          <!--</div>-->

        </form>
        <pre>{{ chart | json }}</pre>
        <pre>{{ imgSrc | json }}</pre>
        </div>
      </div>
    <script src='app.js'></script>
  </body>
</html>
